<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

        <!-- Footer Elements -->
        <!-- <div class="container"> -->
         <!--Image-->
         <!-- <div class="view overlay z-depth-1-half">
                <img src="https://i.ibb.co/F59797n/Be-Funky-photo-13.jpg" style="background-position: cover;"
                  alt="">
                <a href="">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div> -->
<!--       
        </div> -->
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://github.com/i-Krypt"> Sam Nujoma</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->