{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}


<!-- News headlines -->
<div class="container">
        <div class="ui top attached tabular menu">
                <div class="item">Top news sources</div>
              </div>
              <div class="ui bottom attached tab segment">
                <p></p>
                <p></p>
              </div>
        
              <br>
        
            
                
            

</div>
<div class="container-fluid">
    <div class="row">
            {{ macro.displaySourcesList(source)}}
    </div>
</div>



{% endblock%}